#muscle-beach-logo { 
    border-style: groove;
    border-color: #8c8c8c; border-width: 2px;-webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;   /*MAKING THE FORM POP MORE*/
    box-shadow: 0 0 5px 2px #fff; 
    width: 100%;

}