<div class="row" id="footer-row">

    <!-- Scroll to top of page --> 
    <button onclick="topFunction()" id="myBtn" title="Go to top" (click)="onEdit()" style="display: block;">Top</button>

    <div class="col-md-12" id="footer-col">
      <p><a href="home"><b>Home</b></a> | <a href="exercise"><b>Exercise Log</b></a> | <a href="motivation"><b>Motivation</b></a> | <a href="advice"><b>Advice</b></a> | <a href="tutorials"><b>Tutorials</b></a> </p>
      <img src="../assets/img/FitTrackLogo.jpg" id="footer-img" /> 
      <p id="footer-p"><b><i>'My Fitness Tracker' Created By Michael J. Smith &copy; 2017</i></b></p>
    </div>
</div>
