<header>
<nav class="navbar navbar-inverse navbar-fixed-top" id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="navigation-burger" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background-color:#8c8c8c;"></span>
        <span class="icon-bar" style="background-color:#8c8c8c;"></span>
        <span class="icon-bar" style="background-color:#8c8c8c;"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="../assets/img/FitTrackLogo.jpg" style="width:50px;height:45px;margin-top:-12px;" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="userService.isLoggedIn"><a class="nav-item nav-link" id="home-link" routerLink="/home" routerLink="/home"><b>Hi there, {{userService.name}}</b> <span class="sr-only">(current)</span></a></li>
        <li><a class="nav-item nav-link" id="exercise-link" routerLink="/exercise"><b>Exercise Log</b> <span class="sr-only">(current)</span></a></li>
        <li><a class="nav-item nav-link" id="motivation-link" routerLink="/motivation"><b>Motivation</b> <span class="sr-only">(current)</span></a></li>
        <li><a class="nav-item nav-link" id="advice-link" routerLink="/advice"><b>Advice</b> <span class="sr-only">(current)</span></a></li> 
        <li><a class="nav-item nav-link" id="tutorials-link" routerLink="/tutorials"><b>Tutorials</b> <span class="sr-only">(current)</span></a></li>
        <li style="margin-top: 14px;">
          <input type="username" [(ngModel)]="searchValue.text" style="margin-bottom:12px;" class="form-control" id="name" placeholder="Enter a keyword" name="name">
        </li>
        <li>
          <input type="submit" (click)="search()" class="btn btn-primary" style="width:75px; margin-left: 10px; margin-top: 10px; margin-right: 15px;" value="Search!"/>&nbsp;
        </li>  
      </ul>
    </div>
  </div>
</nav>
</header>
