<app-header></app-header>

<div class="container">
 
    <div class="row">
        <div class="col-sm-12 custom-element-background">
            <h3 align="center"><i>Hey <b>{{userService.name}}</b>, Check Out These Exercise Tutorials!</i></h3>
       </div>
    </div>  

   <div class="row">
      <div class="col-md-4 custom-element-background">
          <div class="card">
              <h4 class="card-title"><b>Donny Shankle</b></h4>
              <div class="card-body">
                  <iframe width='100%' src="https://www.youtube.com/embed/mEyoH5FV03s" frameborder="0"></iframe> 
              </div>
         </div>
      </div>
      <div class="col-md-4 custom-element-background">
          <div class="card">
              <h4 class="card-title"><b>Vegan Gains</b></h4>
              <div class="card-body">
                  <iframe width='100%' src="https://www.youtube.com/embed/tzKoXIuxb5Y" frameborder="0"></iframe> 
              </div>
         </div>
      </div> 
      <div class="col-md-4 custom-element-background">
          <div class="card">
              <h4 class="card-title"><b>Katie Lobliner</b></h4>
              <div class="card-body">
                  <iframe width='100%' src="https://www.youtube.com/embed/ukSLVLerNwk" frameborder="0"></iframe> 
              </div>
         </div>
      </div>

   </div>  
</div>  


<app-footer></app-footer>
